'global':
  'core':
    'ignoredNames': [
      '.git'
      '.hg'
      '.svn'
      'coverage'
      'dist'
      'node_modules'
    ]
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
